apiKey: "<your-api-key>"
server: "https://api.deltastream.io/v2"
# organization: "<org-id-or-name>"
# role: "<role-name>"
# insecureSkipVerify: false
# sessionId: "<optional-session-id>"

## kafka credentials
kafkaUris: ""
scramUser: ""
scramPass: ""
mskRole: ""
mskRegion: ""

## snowflake credentials (for snowflake store example / test)
snowflakeUris: ""
snowflakeAccountId: ""
snowflakeRoleName: ""
snowflakeUsername: ""
snowflakeWarehouseName: ""
snowflakeCloudRegion: ""
snowflakeClientKey: "" # base64 encoded private key PEM content

## postgres credentials (for postgres store example / test)
postgresUris: ""
postgresUsername: ""
postgresPassword: ""
postgresDatabase: ""
postgresCdcSlotName: ""